name: Deploy

on:
  workflow_dispatch: { }
  push:
    branches:
      - main

concurrency:
  group: deploy
  cancel-in-progress: false

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix: {
        directory: [
          '2024-ss-mmt-m-frontend-engineering',
          '2024-ws-mmt-m-guest-lecture-web-engineering',
          '2025-ss-mmt-m-frontend-engineering',
        ]
      }

    environment:
      name: production
      url: https://slides.kilianfinger.com/fhs-${{ matrix.directory }}/

    defaults:
      run:
        working-directory: ${{ matrix.directory }}

    steps:
      - uses: actions/checkout@v6

      - run: ls -la
      - run: pwd

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: ${{ matrix.directory }}

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build -- --base /fhs-${{ matrix.directory }}/

      - uses: easingthemes/ssh-deploy@v5.1.1
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: '-avh --delete'
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          SOURCE: ${{ matrix.directory }}/dist/
          TARGET: ${{ secrets.REMOTE_TARGET }}/fhs-${{ matrix.directory }}/
